services:

  db:
    image: postgres:16
    container_name: skalla-db
    restart: always
    env_file:
      - .env
    volumes:
      - skalla_db:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: skalla-api
    restart: always
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    container_name: skalla-nginx
    restart: always
    depends_on:
      - api
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  skalla_db:
